#page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#title {
	font-size: 37px;
	margin-bottom: 30px;
}
#content {
	list-style: none;
	margin: 0;
	padding: 0;
}
#content ul li {
	vertical-align: middle;
}
.dollar {
	font-size: 60px;
	margin-right: 10px;
	vertical-align: -10px;
}
.dollar, .counter {
	display: inline-block;
}
.profession {
	font-style: italic;
	display: inline-block;
	height: 40px;
}
.counter .number, .counter .decimal{
	display: inline-block;
	width: 24px;
	height: 36px;
	border: 3px solid #bbb;
	border-right: none;
	font-size: 32px;
	text-align: center;
}
.counter .decimal {
	border: none;
}
.counter .number.last {
	border-right: 3px solid #bbb;
}
.counter .number.dash {
	color: #bbb;
}
input {
	border: 1px solid #333;
	font-size: 16px;
	padding: 6px 10px;
	width: 158px;
	margin-bottom: 20px;
	text-align: right;
}
.counterAndSymbol {
	display:inline-block;
	border-right: 1px dashed black;
	padding-right: 30px;
	margin-right: 30px;
}
#counters input {
	float: right;
	margin-right: 34px;
	text-align: right;
}
#professions input {
	font-style: italic;
}
#add-link {
	text-decoration: none;
	border: 1px solid #333;
	padding: 6px;
	font-size: 16px;
}
@media screen and (max-width: 640px) {

    #page {
		width: auto;
    }
    #content li {
		width: 367px;
		max-width: 367px;
    }
    .counterAndSymbol {
		border: none;
		padding: 0;
		margin: 0;
    }
    .profession {
		float: right;
		margin-top: -10px;
    }
}
	
