#page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#title {
	font-size: 32px;
	margin-bottom: 30px;
}
#counters, #professions {
	float: left;
	width: 400px;
}
#professions {
	text-align: right;
	margin-right: 30px;
	border-right: 1px solid black;
	padding-right: 30px;
}
.profession {
	padding-top: 20px;
}
.counter {
	height: 39px;
	overflow: hidden;
}
.counter ul{
	list-style:none;
	float:left;
	padding: 3px;
	border-right: 1px solid black;
}
